@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}
/* -------- Shared Styles --------- */
.btn {
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

/* --------Hero banner section start----------- */

.hero-section {
  height: 90vh;
  padding: 0 230px;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  align-items: center;
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero-section {
  text-align: right;
}
.hero-section h1 {
  color: #fff;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

.hero-section p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 494px;
  margin-bottom: 32px;
}
/* -------------failure section------------ */

.failure-section {
  margin: 140px 0px;
}
.failure-section-container {
  display: flex;
  justify-content: center;
  gap: 105px;
  align-items: center;
}

.section-title,
.failure-section h2 {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.failure-section p {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 416px;
  margin-bottom: 16px;
}
.failure-section li {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 416px;
  margin-bottom: 8px;
  list-style: none;
  align-items: center;
}
.failure-section li img {
  width: 20px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
/* --------- Plans section-------- */
.plans-section {
  margin: 0 230px 130px 230px;
  text-align: center;
}
.plans-section-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.plans-section-container h3 {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 16px;
}
.plans-section-container h4 {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}
/* ----------bottom banner section---------- */
.bottom-banner-section {
  padding: 0 230px;
  display: flex;
  margin-bottom: 130px;
}
.bottom-banner-container {
  width: 100%;
  border-radius: 8px;
  height: 300px;
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 64px;
}
.bottom-banner-container h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* --------footer section start---------- */
footer {
  background-color: #151414;
}

.footer-container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 130px 230px;
}

.footer-container h2 {
  color: #f8f8f8;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer-container p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 700px;
  margin-bottom: 24px;
}
.footer-container a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
}
.footer-container img {
  margin-top: 32px;
  margin-right: 10px;
}

form h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 31px;
}

input {
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 400;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 22px;
  width: 100%;
  margin-bottom: 16px;
}

.subscribe-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 36px;
  border-radius: 8px;
  background: #005fac;
  border: none;
}
